<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Country App</h1>
      <p class="mb-5">
        Esta página permite la búsqueda de países por capital, país o región, mostrar información del país, ...
      </p>
      <button
      routerLink="/country/country.routes.ts"
      class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>

